In [1]:
import mysql.connector
import pandas as pd
import numpy as np

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="qaz!@wsx",
    database="work"
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000000008AE9198>

In [3]:
sql="SELECT * FROM \
stock_age_cal_8 \
WHERE \
stock_age > 60 \
AND SKU NOT LIKE 'P%' \
AND SKU NOT LIKE 'B%' \
AND GoodsName NOT LIKE '%快递盒%' \
AND GoodsName NOT LIKE '%防伪标签%' \
AND GoodsName NOT LIKE '%快递袋%' \
AND GoodsName NOT LIKE '%快递箱%' \
AND GoodsName NOT LIKE '%虚拟商品%' \
AND GoodsName NOT LIKE '%包装盒%' \
AND GoodsName NOT LIKE '%牛皮纸袋%' \
AND cal_time>'2017-12-31' \
AND GoodsName NOT LIKE '%配件%' \
"
sql

"SELECT * FROM stock_age_cal_8 WHERE stock_age > 60 AND SKU NOT LIKE 'P%' AND SKU NOT LIKE 'B%' AND GoodsName NOT LIKE '%快递盒%' AND GoodsName NOT LIKE '%防伪标签%' AND GoodsName NOT LIKE '%快递袋%' AND GoodsName NOT LIKE '%快递箱%' AND GoodsName NOT LIKE '%虚拟商品%' AND GoodsName NOT LIKE '%包装盒%' AND GoodsName NOT LIKE '%牛皮纸袋%' AND cal_time>'2017-12-31' AND GoodsName NOT LIKE '%配件%' "

In [4]:
mycursor=mydb.cursor()
mycursor.execute(sql)
stockdata=mycursor.fetchall()

In [5]:
goodslist=pd.read_csv('g_goods_goodslist.csv',header = 0,dtype=object,engine='python',encoding='utf-8')

In [6]:
goodslist.head()

,GoodsID,GoodsNO,ClassID,GoodsName,GoodsName2,EngName,GoodsSpec,Unit,Price_Cost,Price_Detail,...,bCustom,TaxItemCode,bBatch,bShelfLife,ShelfLife,ShelfLifeType,bStopStockIn,StopStockInDay,bStopStockOut,StopStockOutDay
0,1098,501212406,47,Britax宝得适头等舱安全座椅,头等舱安全座椅,NaN,NaN,个,0.0,0.0,...,0,NaN,0,0,0,月,0,0,0,0
1,1099,69251255,663151110,KUB可优比-高脚餐椅,KUB-高脚餐椅,NaN,NaN,台,0.0,0.0,...,0,NaN,0,0,0,月,0,0,0,0
2,1100,0017,48,斯玛特（经典版）,NaN,NaN,NaN,辆,0.0,0.0,...,0,NaN,0,0,0,月,0,0,0,0
3,1102,69339596228,47,宝贝第一赛威乐V8B安全座椅,宝贝第一赛威乐V8B安全座椅,NaN,NaN,个,0.0,0.0,...,0,NaN,0,0,0,月,0,0,0,0
4,1103,6 92512550,663131010,KUB可优比-企鹅床品,KUB-企鹅床品,NaN,粉色,辆,0.0,0.0,...,0,NaN,0,0,0,月,0,0,0,0

In [7]:
goodslist_short=goodslist[['GoodsNO','FixCostPrice']]

In [8]:
goodslist_short.head()

       GoodsNO FixCostPrice
0    501212406       1200.0
1     69251255        100.0
2         0017        560.0
3  69339596228        470.4
4   6 92512550         88.0

In [9]:
stockdata=pd.DataFrame(stockdata)

In [10]:
stockdata.columns=['GoodsNO','GoodsName','Total_in','date','update_time','cal_time','stock_age']

In [11]:
stockdata.head()

,GoodsNO,GoodsName,Total_in,date,update_time,cal_time,stock_age
0,00010,淘宝费用-不要选,10000,2017-10-31,NaT,2018-01-01,62
1,00443,FORBABY-P680婴儿车-白色车架,4,2017-10-31,NaT,2018-01-01,62
2,00445,FORBABY-P680婴儿车-紫色睡篮棉垫,117,2017-10-31,NaT,2018-01-01,62
3,00446,FORBABY-P680婴儿车-蓝色睡篮棉垫,24,2017-10-31,2019-01-08 20:41:35,2018-01-01,62
4,00447,FORBABY-P680婴儿车-蓝色遮阳棚,24,2017-10-31,2019-01-08 20:41:36,2018-01-01,62

In [12]:
def merge(data_left,data_right,key):
    left=pd.read_csv(data_left,header = 0,dtype = object,engine='python',encoding='utf-8')
    right=pd.read_csv(data_right,header = 0,dtype = object,engine='python')
    right=right.drop_duplicates(key)
    data_merge=pd.merge(left,right,on=key,how='left')
    return data_merge

In [13]:
data_merge=pd.merge(stockdata,goodslist_short,on=['GoodsNO'],how='left')

In [14]:
data_merge.head()

,GoodsNO,GoodsName,Total_in,date,update_time,cal_time,stock_age,FixCostPrice
0,00010,淘宝费用-不要选,10000,2017-10-31,NaT,2018-01-01,62,0.0
1,00443,FORBABY-P680婴儿车-白色车架,4,2017-10-31,NaT,2018-01-01,62,517.0
2,00445,FORBABY-P680婴儿车-紫色睡篮棉垫,117,2017-10-31,NaT,2018-01-01,62,15.0
3,00446,FORBABY-P680婴儿车-蓝色睡篮棉垫,24,2017-10-31,2019-01-08 20:41:35,2018-01-01,62,15.0
4,00447,FORBABY-P680婴儿车-蓝色遮阳棚,24,2017-10-31,2019-01-08 20:41:36,2018-01-01,62,21.0

In [15]:
data_merge['FixCostPrice']=data_merge['FixCostPrice'].apply(pd.to_numeric)

In [16]:
data_merge['stockDelayCost']=data_merge['Total_in']*data_merge['FixCostPrice']*0.05/30

In [17]:
data_merge.head()

,GoodsNO,GoodsName,Total_in,date,update_time,cal_time,stock_age,FixCostPrice,stockDelayCost
0,00010,淘宝费用-不要选,10000,2017-10-31,NaT,2018-01-01,62,0.0,0.000000
1,00443,FORBABY-P680婴儿车-白色车架,4,2017-10-31,NaT,2018-01-01,62,517.0,3.446667
2,00445,FORBABY-P680婴儿车-紫色睡篮棉垫,117,2017-10-31,NaT,2018-01-01,62,15.0,2.925000
3,00446,FORBABY-P680婴儿车-蓝色睡篮棉垫,24,2017-10-31,2019-01-08 20:41:35,2018-01-01,62,15.0,0.600000
4,00447,FORBABY-P680婴儿车-蓝色遮阳棚,24,2017-10-31,2019-01-08 20:41:36,2018-01-01,62,21.0,0.840000

In [18]:
type(data_merge['FixCostPrice'][0])

numpy.float64

In [19]:
data_merge['cal_time_month']=data_merge.cal_time.map(lambda x: x.strftime('%Y-%m'))

In [20]:
data_merge.head()

,GoodsNO,GoodsName,Total_in,date,update_time,cal_time,stock_age,FixCostPrice,stockDelayCost,cal_time_month
0,00010,淘宝费用-不要选,10000,2017-10-31,NaT,2018-01-01,62,0.0,0.000000,2018-01
1,00443,FORBABY-P680婴儿车-白色车架,4,2017-10-31,NaT,2018-01-01,62,517.0,3.446667,2018-01
2,00445,FORBABY-P680婴儿车-紫色睡篮棉垫,117,2017-10-31,NaT,2018-01-01,62,15.0,2.925000,2018-01
3,00446,FORBABY-P680婴儿车-蓝色睡篮棉垫,24,2017-10-31,2019-01-08 20:41:35,2018-01-01,62,15.0,0.600000,2018-01
4,00447,FORBABY-P680婴儿车-蓝色遮阳棚,24,2017-10-31,2019-01-08 20:41:36,2018-01-01,62,21.0,0.840000,2018-01

In [21]:
data_merge_groupby=data_merge.groupby(['GoodsNO','GoodsName','cal_time_month'],as_index=False)

In [22]:
data_merge_groupby=data_merge_groupby.aggregate(np.sum)

In [23]:
data_merge_groupby['GoodsNO'].isnull().value_counts()

False    41074
Name: GoodsNO, dtype: int64

In [24]:
data_merge_groupby.head()

,GoodsNO,GoodsName,cal_time_month,Total_in,stock_age,FixCostPrice,stockDelayCost
0,,,2018-01,217442959,2387,31.0,362404.931667
1,,,2018-02,196400092,2982,28.0,327333.486667
2,,,2018-03,217442959,4216,31.0,362404.931667
3,,,2018-04,210428670,4995,30.0,350714.450000
4,,,2018-05,217442959,6107,31.0,362404.931667

In [25]:
GoodsInfo =pd.read_csv('goodsinfo0117.csv',header = 0,dtype=object,engine='python')

In [26]:
GoodsInfoShort=GoodsInfo[['GoodsNO','Company','Dept']]

In [27]:
GoodsInfoShort.head()

  GoodsNO        Company   Dept
0   00547    可优比母婴用品有限公司  KUB安防
1  105131    可优比母婴用品有限公司  KUB安防
2  105132    可优比母婴用品有限公司  KUB安防
3  105133    可优比母婴用品有限公司  KUB安防
4  105134    可优比母婴用品有限公司  KUB安防

In [28]:
GoodsInfoShort.shape

(16129, 3)

In [29]:
GoodsInfoShort=GoodsInfoShort.drop_duplicates(["GoodsNO"])

In [30]:
GoodsInfoShort.shape

(16113, 3)

In [40]:
GoodsInfoShort.to_excel("1234.xlsx",header=True,index=False)

In [31]:
GoodsInfoShort.head()

  GoodsNO        Company   Dept
0   00547    可优比母婴用品有限公司  KUB安防
1  105131    可优比母婴用品有限公司  KUB安防
2  105132    可优比母婴用品有限公司  KUB安防
3  105133    可优比母婴用品有限公司  KUB安防
4  105134    可优比母婴用品有限公司  KUB安防

In [32]:
data_merge_dept=pd.merge(data_merge_groupby,GoodsInfoShort,on=['GoodsNO'],how='left')

In [33]:
data_merge_groupby.shape

(41074, 7)

In [34]:
data_merge_dept.shape

(41074, 9)

In [35]:
data_merge_dept.tail()

,GoodsNO,GoodsName,cal_time_month,Total_in,stock_age,FixCostPrice,stockDelayCost,Company,Dept
41069,K04847501,KUB多层纱布方巾一条装,2018-12,6419,448,17.50,26.745833,可优比母婴用品有限公司,KUB睡眠
41070,K04849401,KUB可优比-欢聚日礼盒,2018-12,748,1096,753.28,58.693067,可优比母婴用品有限公司,KUB赠品
41071,YF101235-4,bahokids-BH-HTMX（藏青）,2018-10,66,1573,0.00,0.000000,NaN,NaN
41072,YF101235-4,bahokids-BH-HTMX（藏青）,2018-11,90,2925,0.00,0.000000,NaN,NaN
41073,YF101235-4,bahokids-BH-HTMX（藏青）,2018-12,93,3968,0.00,0.000000,NaN,NaN

In [36]:
data_merge_dept_gb = data_merge_dept.groupby(['Company','Dept','cal_time_month'],as_index=False)

In [37]:
data_merge_dept_gb=data_merge_dept_gb.aggregate(np.sum)
data_merge_dept_gb=data_merge_dept_gb[['Company','Dept','cal_time_month','stockDelayCost']]

In [38]:
data_merge_dept_gb.head()

         Company   Dept cal_time_month  stockDelayCost
0    可优比母婴用品有限公司  KUB出行        2018-01   489362.383033
1    可优比母婴用品有限公司  KUB出行        2018-02   416794.940783
2    可优比母婴用品有限公司  KUB出行        2018-03   375969.306733
3    可优比母婴用品有限公司  KUB出行        2018-04   301347.400200
4    可优比母婴用品有限公司  KUB出行        2018-05   291718.850833

In [39]:
data_merge_dept_gb.to_excel("2018库存占用带小组.xlsx",header=True,index=False)